body{
    background: linear-gradient(140deg,#ECEFF1, #193a8e);
}
.main .top{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.main .middle{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.main .bottom{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-left: 200px;
}
.main{
    margin-top: 5px;
    padding-left: 50px;
}
.main button{
    height: 60px;
    width: 400px;
    border-radius: 20px;
    border: none;
    margin-top: 30px;
    background:linear-gradient(135deg,#191970,#1f59b7);
    color: white;
    font-weight: bolder;
    font-size: 15px;
}
.main button:hover{
    background:linear-gradient(135deg,#2a70df,#191970);
}
.ads4{
    position: absolute;
    bottom: -350px;
    left: 3%;
    background:linear-gradient(135deg,#6D28D9,rgb(176, 58, 58),green);
    background-size: 200% 100%;
    background-position: left;
    transition:0.5s ease infinite;
    width: 95%;
    height: 300px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    animation: banner 10s ease-in-out infinite;
}
.ads4 p{
    font-size: 50px;
    color: white;
    text-align: center;
}
@keyframes banner{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
@media (max-width: 768px) {
  .main {
    padding-left: 10px;
    padding-right: 10px;
  }

  .main .top,
  .main .middle {
    grid-template-columns: repeat(3,1fr);
    gap: 1%;
  }

  .main .bottom {
    grid-template-columns: repeat(2,1fr);
    margin-left: 0;
    gap:1%
  }

  .main button {
    width: 100%;
    font-size: 9px;
  }

  .ads4 {
    position: static;
    width: 100%;
    height: 150px;
    margin-top: 20px;
    left: 0;
    bottom: 0;
  }

  .ads4 p {
    font-size: 30px;
  }
}